<!DOCTYPE html>
<html lang=en>
<head>
<meta charset=utf-8>
<meta http-equiv=X-UA-Compatible content="IE=edge">
<meta name=viewport content="width=device-width,initial-scale=1">
<link rel=icon href=/favicon.ico>
<title>EDP认证中心</title>
<link
	href=//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css
	rel=stylesheet>
<link href=/css/chunk-common.1926d3fb.css rel=preload as=style>
<link href=/css/chunk-vendors.88ed6cc5.css rel=preload as=style>
<link href=/css/index.a16db5b0.css rel=preload as=style>
<link href=/js/chunk-common.e1906a6b.js rel=preload as=script>
<link href=/js/chunk-vendors.2223bafe.js rel=preload as=script>
<link href=/js/index.1832c97a.js rel=preload as=script>
<link href=/css/chunk-vendors.88ed6cc5.css rel=stylesheet>
<link href=/css/chunk-common.1926d3fb.css rel=stylesheet>
<link href=/css/index.a16db5b0.css rel=stylesheet>
</head>
<body>
	<noscript>
		<strong>We're sorry but edpglobal doesn't work properly
			without JavaScript enabled. Please enable it to continue.</strong>
	</noscript>
	<div id=app></div>
	<script src=/js/chunk-vendors.2223bafe.js></script>
	<script src=/js/chunk-common.e1906a6b.js></script>
	<script src=/js/index.1832c97a.js></script>
</body>
</html>